.relativeForm {
  position: relative;
  margin-left: auto;
  flex: 1;
}

.mdGrow {
  flex-grow: 0;
}

.icon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  height: 1rem;
  width: 1rem;
  color: var(--text-muted-foreground);
}

.input {
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--bg-background);
  padding-left: 8rem;
}

.mdWidth {
  width: 200px;
}

.lgWidth {
  width: 336px;
}
